.init-form_container {
  display: flex;
  height: 100vh;
  // background-image: url('../assets/Endless-Constellation.svg');
  background-repeat: repeat;
  text-align: center;
  justify-content: center;
}

.init-form {
  background-color: white;
  margin: auto;
  width: 436px;
  height: fit-content;
  // box-shadow: 2px 2px 12px 12px gray; 
}

.submit-button {
  height: 36px;
  width: 92%;
  border: none;
  border-radius: 2px;
  color: white;
  background-color: rgb(77, 77, 77);
  font-weight: 700;
}

.descr {
  padding: 0px 24px;
  color: rgb(163, 163, 163);
  font-size: 12px;
  font-weight: 400;
  text-align: left;
}

