.input-container {
    display: flex;
    flex-direction: column;
    padding: 0px 16px;
  }
  
  .input {
    padding: 16px 8px 4px 0px;
    outline: none;
    border: none;
    border-bottom: 1px solid rgb(160, 160, 160);
    
  }
  
  .input::placeholder {
    color: rgb(160, 160, 160);
  }