.success-panel {
    width: 456px;
    background-color: white;
  }
  
  .success-logo {
    margin-left: auto;
    margin-right: auto;
    color: white;
    background-color: rgb(0, 197, 0);
    width: 36px;
    height: 36px;
    font-size: 26px;
    border-radius: 50%;
    text-align: center;
  }
  
  .success-message {
    padding-top: 24px;
    text-align: center;
  }
  